*.DS_Store
*.bak
*.sw?
*.swp
*~
.DS_Store
.cvs
.idea/
Thumbs.db
add_vhost.php
ch-upload.log
ch-upload.log.html
node_modules/
sftp-config-alt.json
sftp-config.json
test_sockets.php
test_sockets.php
testmysql.php
vendor/
wamplanguages/
wamplangues/
wampthemes/
wp-config-local.php
npm-debug.log
